//  Font Color Variables
$white-text: hsl(0, 0%, 100%);
$darkgray-blue-bodytext: hsl(207, 13%, 34%);
$darkblue-headingtext: hsl(208, 49%, 24%);
$cta-text: hsl(356, 100%, 66%);
$footer-text: hsl(240, 2%, 79%);

//  Background Color Variables
$darkblack-blue-footer-bckgrd: hsl(240, 10%, 16%);
$cta-hover-background: hsl(355, 100%, 74%);

//  Gradient BckgrdColor Variables - Intro/CTA Mobile Nav
$verylight-red: hsl(13, 100%, 72%);
$lightred: hsl(353, 100%, 62%);

//  Gradient BckgrdColor Variables - Body
$verydark-gray-blue: hsl(237, 17%, 21%);
$verydark-desatu-blue: hsl(237, 23%, 32%);

//  Media Query
$mobile: 375px;
$desktop: 1440px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
