@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Overpass Regular";
  src: url("../Fonts/Overpass/Overpass-Light.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass SemiBold";
  src: url("../Fonts/Overpass/Overpass-SemiBold.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../Fonts/Ubuntu/Ubuntu-Medium.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass Bold";
  src: url("../Fonts/Ubuntu/Ubuntu-Bold.ttf") format(woff2);
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to bottom, #ff8f70, #ff3d54);
  border-bottom-left-radius: 8.5rem;
  overflow: hidden;
}

@media (min-width: 1440px) {
  header {
    background-position: 25% 52%;
    background-size: 202rem;
  }
}

.test {
  height: 37.5rem;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: 33% 33%;
  background-repeat: no-repeat;
  background-size: 75.31rem;
}

@media (min-width: 1440px) {
  .test {
    background-position: 25% 52%;
    background-size: 202rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85vw;
}

.navbar__heading {
  margin: 0.5rem;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
}

.navbar li a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: white;
}

.landing__container--title {
  margin: 7rem auto;
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
  font-size: 2.2rem;
}

@media (max-width: 375px) {
  .landing__container--title {
    width: 75vw;
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .landing__container--title {
    font-size: 4rem;
  }
}

.landing__container--description {
  margin-bottom: 5rem;
  font-family: "Overpass", sans-serif;
}

@media (min-width: 1440px) {
  .landing__container--description {
    font-size: 1.5rem;
  }
}

.menu-arrow:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.landing__button {
  text-align: center;
}

.landing__button--start {
  font-family: "Overpass SemiBold";
  width: 6.25rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  color: #ff525d;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .landing__button--start {
    margin-right: 0.5rem;
  }
}

.landing__button--start:hover {
  color: white;
  background-color: #ff7a85;
}

.landing__button--learn {
  font-family: "Overpass SemiBold";
  width: 6.25rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: transparent;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.landing__button--learn:hover {
  background-color: white;
  color: #ff525d;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 60%;
    height: 40vh;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links ul a {
    color: black;
    text-align: center;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 80px;
  }
}

.divider {
  visibility: hidden;
}

@media (max-width: 375px) {
  .divider {
    visibility: visible;
    width: 60vw;
    margin: 2rem auto;
  }
}

@media (max-width: 375px) {
  .login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.log-in {
  text-decoration: none;
  font-family: "Overpass SemiBold";
}

@media (max-width: 375px) {
  .log-in {
    color: #1f3f5b;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1440px) {
  .log-in {
    color: white;
    padding-right: 2rem;
  }
}

.signup-btn {
  width: 100px;
  height: 6vh;
  border-radius: 2.5rem;
  background-color: #ff525d;
  color: white;
  margin: 0 auto;
  outline: none;
}

@media (min-width: 1440px) {
  .signup-btn:hover {
    background-color: #ff7a85;
    color: white;
  }
}

.sub-menu {
  display: none;
}

.sub-menu.open {
  position: absolute;
  width: 10vw;
  background-color: white;
  color: black;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6px auto;
  padding-left: 0.3rem;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .sub-menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #c8c8cb;
    width: 60vw;
    margin: 0 auto;
    color: #1f3f5b;
    border-radius: 5px;
    position: relative;
    left: 5px;
    text-align: center;
  }
}

.sub-menu li:hover {
  color: #ff7a85;
  font-family: "Overpass SemiBold";
}

.future__heading {
  margin-top: 3rem;
  text-align: center;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

@media (min-width: 1440px) {
  .future__heading {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

.future__container {
  overflow: hidden;
  text-align: center;
}

@media (min-width: 1440px) {
  .future__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.future__container--img {
  width: 23.43rem;
}

@media (max-width: 375px) {
  .future__container--img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1440px) {
  .future__container--img {
    width: 50vw;
    position: relative;
    left: 12rem;
  }
}

@media (max-width: 375px) {
  .future__container--textbox {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .future__container--textbox {
    text-align: left;
  }
}

.future__container--textbox1 {
  margin-bottom: 2rem;
}

.future__container--textbox2 {
  margin-bottom: 2rem;
}

.future__container--title {
  width: 53vw;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .future__container--title {
    width: 100%;
  }
}

.future__container--description {
  font-family: "Overpass", sans-serif;
  color: #4b5862;
  padding-top: 1.25rem;
  line-height: 1.5rem;
  width: 80vw;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .future__container--description {
    width: 35vw;
    text-align: left;
  }
}

.blogr__phonebox {
  text-align: center;
  margin-top: -12rem;
}

@media (min-width: 1440px) {
  .blogr__phonebox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -30rem;
  }
}

.blogr__phonebox--img {
  width: 20.5rem;
  height: 21.68rem;
  position: relative;
  top: 11.56rem;
}

@media (min-width: 1440px) {
  .blogr__phonebox--img {
    width: 29.5rem;
    height: 31.18rem;
    top: 25.62rem;
    left: 6.56rem;
  }
}

.test2 {
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: 50% 160%;
  background-repeat: no-repeat;
  background-size: 38.125rem;
}

@media (min-width: 1440px) {
  .test2 {
    background-position: -47% 66%;
    background-size: 61.875rem;
  }
}

.state__container {
  overflow: hidden;
  height: 28.125rem;
  margin-bottom: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: linear-gradient(to bottom, #2c2d3f, #3f4164);
  border-top-right-radius: 7.5rem;
  border-bottom-left-radius: 7.5rem;
}

@media (max-width: 375px) {
  .state__container {
    height: 39rem;
  }
}

@media (min-width: 1440px) {
  .state__container {
    height: 25rem;
  }
}

.state__container--textbox {
  text-align: center;
  width: 90vw;
  color: white;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .state__container--textbox {
    width: 0px;
    text-align: left;
  }
}

.state__container--title {
  width: 85vw;
  margin-bottom: 1rem;
  padding-top: 10rem;
  font-family: "Overpass SemiBold";
}

@media (min-width: 1440px) {
  .state__container--title {
    width: 23vw;
  }
}

.state__container--description {
  width: 78vw;
  margin: 0 auto;
  line-height: 1.7rem;
  font-family: "Overpass", sans-serif;
}

@media (min-width: 1440px) {
  .state__container--description {
    width: 35vw;
  }
}

.free__container {
  text-align: center;
}

@media (min-width: 1440px) {
  .free__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.free__container--img {
  width: 23.43rem;
}

@media (min-width: 1440px) {
  .free__container--img {
    width: 50vw;
    position: relative;
    right: 12.625rem;
  }
}

.free__container--textbox {
  margin: 0 auto;
  width: 90vw;
}

@media (min-width: 1440px) {
  .free__container--textbox {
    text-align: left;
  }
}

.free__container--textbox1 {
  margin-bottom: 1.5rem;
}

.free__container--title {
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

.free__container--description {
  width: 72vw;
  margin: 0 auto;
  line-height: 1.7rem;
  color: #4b5862;
  font-family: "Overpass", sans-serif;
}

@media (min-width: 1440px) {
  .free__container--description {
    width: 35vw;
    text-align: left;
    margin: 0rem;
  }
}

footer {
  margin-top: 5rem;
  padding-top: 5rem;
  text-align: center;
  background-color: #25252d;
  color: white;
  border-top-right-radius: 5rem;
}

@media (min-width: 1440px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__heading {
  margin-bottom: 3rem;
  font-family: "Overpass SemiBold";
}

@media (min-width: 1440px) {
  .footer__heading {
    margin-left: 6rem;
  }
}

.footer__container {
  height: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Overpass", sans-serif;
}

@media (min-width: 1440px) {
  .footer__container {
    height: 18.75rem;
    width: 60vw;
    margin-left: 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__container--title {
  margin-bottom: 2rem;
}

.footer__container--li {
  margin-bottom: 0.5rem;
  color: #c8c8cb;
}

@media (min-width: 1440px) {
  .footer__container--li {
    list-style: none;
  }
}

.footer__container--li:hover {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .footer__container--li:hover {
    border-bottom: 2px solid white;
  }
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  margin-right: 2rem;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
}

@media (min-width: 801px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: inline-block;
  }
}
/*# sourceMappingURL=styles.css.map */