* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@import "partial";

// Header Section

header {
  background: linear-gradient(to bottom, $verylight-red, $lightred);
  border-bottom-left-radius: 120px;
}

.test {
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 700px;
}

.nav__container {
  padding-top: 2rem;
  margin-bottom: 7rem;
  color: $white-text;
  &--heading {
    margin-left: 1rem;
    font-family: $overpass-semibold-font;
  }
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: $white-text;

  &--title {
    margin-bottom: 1rem;
    font-family: $overpass-semibold-font;
  }
  &--description {
    margin-bottom: 5rem;
    font-family: $overpass-reg-font;
  }
}

.landing__button {
  text-align: center;
  &--start {
    font-family: $overpass-semibold-font;
  }
  &--learn {
    font-family: $overpass-semibold-font;
  }
}

//  Designed for the future
main {
  height: 1086px;
}
.future__heading {
  margin-top: 3rem;
  text-align: center;
  font-family: $overpass-semibold-font;
  color: $darkblue-headingtext;
}

.future__container {
  padding-bottom: 2.5rem;
  &--img {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &--textbox {
    text-align: center;
  }
  &--textbox1 {
    margin-bottom: 2rem;
  }
  &--textbox2 {
    margin-bottom: 2rem;
  }
  &--title {
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    font-family: $overpass-semibold-font;
    color: $darkblue-headingtext;
    width: 85vw;
    margin: 0 auto;
  }
  &--description {
    line-height: 1.5rem;
    width: 75vw;
    margin: 0 auto;
    padding-top: 20px;
    font-family: $ubuntu-reg-font;
    color: $darkgray-blue-bodytext;
  }
}

//  Blogr Phones
.blogr__phonebox {
  text-align: center;
  margin-top: -12rem;
  &--img {
    width: 328px;
    height: 347px;
    position: relative;
    top: 185px;
  }
}

// State of The Art Infrastructure
.state__container {
  height: 625px;
  margin-bottom: 2rem;

  background: linear-gradient(
    to bottom,
    $verydark-gray-blue,
    $verydark-desatu-blue
  );
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  &--textbox {
    background-image: url("../images/bg-pattern-circles.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    color: $white-text;
  }
  &--title {
    width: 85vw;
    margin-bottom: 1rem;
    padding-top: 10rem;
    font-family: $overpass-semibold-font;
  }
  &--description {
    width: 71vw;
    margin: 0 auto;
    line-height: 1.7rem;
    font-family: $ubuntu-med-font;
  }
}

// Free Open Simple

.free__container {
  text-align: center;

  &--img {
    width: 327px;
    height: 323px;
  }
  &--textbox {
    margin: 0 auto;
    width: 90vw;
  }
  &--textbox1 {
    margin-bottom: 1.5rem;
  }
  &--title {
    margin-bottom: 1rem;
    font-family: $overpass-semibold-font;
    color: $darkblue-headingtext;
  }
  &--description {
    width: 72vw;
    margin: 0 auto;
    line-height: 1.7rem;
    color: $darkgray-blue-bodytext;
  }
}

// Footer
footer {
  margin-top: 5rem;
  padding-top: 5rem;
  height: 800px;
  text-align: center;
  background-color: $darkblack-blue-footer-bckgrd;
  color: $white-text;
  border-top-right-radius: 80px;
}

.footer__heading {
  margin-bottom: 3rem;
  font-family: $overpass-semibold-font;
}

.footer__container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--title {
    margin-bottom: 2rem;
  }
  &--li {
    margin-bottom: 1rem;
    color: $footer-text;
  }
}
