* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@import "partial";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");

// Header Section

header {
  background: linear-gradient(to bottom, $verylight-red, $lightred);
  border-bottom-left-radius: 8.5rem;
  overflow: hidden;
  @include desktop {
    background-position: 25% 52%;
    background-size: 202rem;
  }
}

.test {
  height: 37.5rem;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: 33% 33%;
  background-repeat: no-repeat;
  background-size: 75.31rem;
  @include desktop {
    background-position: 25% 52%;
    background-size: 202rem;
  }
}

.navbar-item {
  font-family: $overpass-semibold-font;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}
.navbar__heading {
  margin: 0.5rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
}

.navbar li a:hover {
  border-bottom: 2px solid white;
  padding: 0;
  cursor: pointer;
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: $white-text;

  &--title {
    margin: 7rem auto;
    margin-bottom: 1rem;
    font-family: $overpass-semibold-font;
    font-size: 2.2rem;
    @include mobile {
      width: 75vw;
      font-size: 2rem;
    }
    @include desktop {
      font-size: 4rem;
    }
  }
  &--description {
    margin-bottom: 5rem;
    font-family: "Overpass", sans-serif;
    @include desktop {
      font-size: 1.5rem;
    }
  }
}

.menu-arrow:hover {
  transform: rotate(180deg);
}

.landing__button {
  text-align: center;

  &--start {
    font-family: $overpass-semibold-font;
    width: 6.25rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: white;
    border: none;
    color: $cta-text;
    cursor: pointer;

    @include desktop {
      margin-right: 0.5rem;
    }
  }
  &--start:hover {
    color: white;
    background-color: $cta-hover-background;
  }

  &--learn {
    font-family: $overpass-semibold-font;
    width: 6.25rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    color: $white-text;
    cursor: pointer;
  }

  &--learn:hover {
    background-color: white;
    color: $cta-text;
  }
}

//  Menu Icon

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .divider {
    visibility: visible;
    width: 30vw;
    margin: 2rem auto;
  }
  .navbar {
    padding-top: 1rem;
  }
  .toggle-button {
    display: flex;
    margin-top: 1.3rem;
  }

  .mobile-arrow {
    position: relative;
    left: 50px;
    bottom: 28px;
  }

  .navbar-links {
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }

  .navbar-links ul a {
    color: black;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .navbar-links ul {
    flex-direction: column;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .navbar-links.active {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 10%;
    padding-bottom: 2rem;
  }

  .sub-menu.open {
    display: block;
    background-color: lightgray;
    width: 70%;
    color: $darkblue-headingtext;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 10%;
    left: 2%;
    padding: 1rem;
  }

  .sub-menu.open li {
    margin-bottom: 0.7rem;
    font-family: $overpass-semibold-font;
  }

  .log-in {
    color: $darkgray-blue-bodytext;
    margin-bottom: 2rem;
    margin-left: 25px;
  }
}

@media (min-width: 769px) {
  .divider {
    display: none;
  }
  .navbar {
    padding-top: 3rem;
  }

  .navbar__heading {
    margin-left: 5rem;
  }

  .parent {
    margin-left: 2rem;
  }

  .login__container {
    margin-right: 7rem;
  }

  .mobile-arrow {
    display: none;
  }

  .navbar li {
    display: flex;
    align-items: center;
  }

  .navbar li a {
    padding: 0;
  }

  .sub-menu.open {
    position: absolute;
    top: 100px;
    height: auto;
    width: 15vw;
    background-color: white;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 6px auto;
    padding-left: 0.3rem;
    border-radius: 5px;
  }

  .sub-menu.open li {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-family: $ubuntu-med-font;
  }
  .log-in {
    color: white;
  }
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.hamburger {
  position: relative;
  top: -7px;
  cursor: pointer;
  justify-content: center;
  display: none;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .hamburger .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .hamburger .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .hamburger .middle {
  transform: translateX(-20px);
  opacity: 0;
}

// Nav Links

.login__container {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.log-in {
  text-decoration: none;
  font-family: $overpass-semibold-font;
  padding-right: 2rem;
}

.signup-btn {
  width: 100px;
  height: 6vh;
  border-radius: 2.5rem;
  border: 0px;
  background-color: $cta-text;
  color: white;
  margin: 0 auto;
  outline: none;
  font-family: $overpass-semibold-font;
}

.signup-btn:hover {
  @include desktop {
    background-color: $cta-hover-background;
    color: white;
  }
}

ul .sub-menu {
  display: none;
}

.sub-menu li:hover {
  color: $cta-hover-background;
  font-family: $overpass-semibold-font;
}
.sub-menu li {
  cursor: pointer;
}
//  Designed for the future

.future__heading {
  margin-top: 3rem;
  text-align: center;
  font-family: $overpass-semibold-font;
  color: $darkblue-headingtext;
  @include desktop {
    font-size: 2rem;
    margin-top: 5rem;
  }
}

.future__container {
  overflow: hidden;
  text-align: center;
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  &--img {
    width: 23.43rem;
    @include mobile {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    @include desktop {
      width: 50vw;
      position: relative;
      left: 12rem;
    }
  }
  &--textbox {
    @include mobile {
      text-align: center;
    }
    @include desktop {
      text-align: left;
    }
  }
  &--textbox1 {
    margin-bottom: 2rem;
  }
  &--textbox2 {
    margin-bottom: 2rem;
  }
  &--title {
    width: 53vw;
    line-height: 2rem;
    letter-spacing: 1px;
    font-family: $overpass-semibold-font;
    color: $darkblue-headingtext;
    margin: 0 auto;
    @include desktop {
      width: 100%;
    }
  }
  &--description {
    font-family: "Overpass", sans-serif;
    color: $darkgray-blue-bodytext;
    padding-top: 1.25rem;
    line-height: 1.5rem;
    width: 80vw;
    margin: 0 auto;

    @include desktop {
      width: 35vw;
      text-align: left;
    }
  }
}

//  Blogr Phones
.blogr__phonebox {
  text-align: center;
  margin-top: -12rem;
  @include desktop {
    display: flex;
    margin-top: -30rem;
  }
  &--img {
    width: 20.5rem;
    height: 21.68rem;
    position: relative;
    top: 11.56rem;
    @include desktop {
      width: 29.5rem;
      height: 31.18rem;
      top: 25.62rem;
      left: 6.56rem;
    }
  }
}

// State of The Art Infrastructure

.test2 {
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: 50% 160%;
  background-repeat: no-repeat;
  background-size: 38.125rem;
  @include desktop {
    background-position: -47% 66%;
    background-size: 61.875rem;
  }
}
.state__container {
  overflow: hidden;
  height: 28.125rem;
  margin-bottom: 2rem;
  background: linear-gradient(
    to bottom,
    $verydark-gray-blue,
    $verydark-desatu-blue
  );
  border-top-right-radius: 7.5rem;
  border-bottom-left-radius: 7.5rem;
  @include mobile {
    height: 39rem;
  }
  @include desktop {
    height: 25rem;
  }

  &--textbox {
    text-align: center;
    width: 90vw;
    color: $white-text;
    margin: 0 auto;
    @include desktop {
      width: 0px;
      text-align: left;
    }
  }
  &--title {
    width: 85vw;
    margin-bottom: 1rem;
    padding-top: 10rem;
    font-family: $overpass-semibold-font;
    @include desktop {
      width: 23vw;
    }
  }
  &--description {
    width: 78vw;
    margin: 0 auto;
    line-height: 1.7rem;
    font-family: "Overpass", sans-serif;
    @include desktop {
      width: 35vw;
    }
  }
}

// Free Open Simple

.free__container {
  text-align: center;
  @include desktop {
    display: flex;
    align-items: center;
  }

  &--img {
    width: 23.43rem;
    @include desktop {
      width: 50vw;
      position: relative;
      right: 12.625rem;
    }
  }
  &--textbox {
    margin: 0 auto;
    width: 90vw;
    @include desktop {
      text-align: left;
    }
  }
  &--textbox1 {
    margin-bottom: 1.5rem;
  }
  &--title {
    margin-bottom: 1rem;
    font-family: $overpass-semibold-font;
    color: $darkblue-headingtext;
  }
  &--description {
    width: 72vw;
    margin: 0 auto;
    line-height: 1.7rem;
    color: $darkgray-blue-bodytext;
    font-family: "Overpass", sans-serif;
    @include desktop {
      width: 35vw;
      text-align: left;
      margin: 0rem;
    }
  }
}

// Footer
footer {
  margin-top: 5rem;
  padding-top: 5rem;
  text-align: center;
  background-color: $darkblack-blue-footer-bckgrd;
  color: $white-text;
  border-top-right-radius: 5rem;
  padding-bottom: 2rem;
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.footer__heading {
  margin-bottom: 3rem;
  font-family: $overpass-semibold-font;
  @include desktop {
    margin-left: 6rem;
  }
}

.footer__container {
  height: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Overpass", sans-serif;
  @include desktop {
    height: 18.75rem;
    width: 60vw;
    margin-left: 10rem;
    flex-direction: row;
  }

  &--title {
    margin-bottom: 2rem;
  }
  &--li {
    margin-bottom: 0.5rem;
    color: $footer-text;
    @include desktop {
      list-style: none;
    }
  }
  &--li:hover {
    cursor: pointer;
    @include desktop {
      border-bottom: 2px solid white;
    }
  }
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  margin-right: 2rem;
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}

@media (min-width: 801px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }
}
