* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Overpass Regular";
  src: url("../Fonts/Overpass/Overpass-Light.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass SemiBold";
  src: url("../Fonts/Overpass/Overpass-SemiBold.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../Fonts/Ubuntu/Ubuntu-Medium.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass Bold";
  src: url("../Fonts/Ubuntu/Ubuntu-Bold.ttf") format(woff2);
}

header {
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__container {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.nav__container--heading {
  margin-left: 1rem;
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: white;
}

.landing__container--title {
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
}

.landing__container--description {
  margin-bottom: 5rem;
  font-family: "Overpass Regular";
}

.landing__button {
  text-align: center;
}

.landing__button--start {
  font-family: "Overpass SemiBold";
}

.landing__button--learn {
  font-family: "Overpass SemiBold";
}

main {
  height: 1086px;
}

.future__heading {
  text-align: center;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

.future__container {
  padding-bottom: 2.5rem;
}

.future__container--img {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.future__container--textbox {
  text-align: center;
}

.future__container--textbox1 {
  margin-bottom: 2rem;
}

.future__container--textbox2 {
  margin-bottom: 2rem;
}

.future__container--title {
  margin-bottom: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
  width: 85vw;
  margin: 0 auto;
}

.future__container--description {
  line-height: 1.5rem;
  width: 75vw;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Ubuntu Regular";
  color: #4b5862;
}

.blogr__phonebox {
  text-align: center;
}

.blogr__phonebox--img {
  width: 328px;
  height: 347px;
}

.state__container--textbox {
  margin: 0 auto;
  text-align: center;
  width: 90vw;
}

.state__container--title {
  width: 85vw;
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
}

.state__container--description {
  width: 80vw;
  margin: 0 auto;
  line-height: 1.7rem;
  font-family: "Ubuntu Regular";
}

.free__container {
  text-align: center;
}

.free__container--img {
  width: 327px;
  height: 323px;
}

.free__container--textbox {
  margin: 0 auto;
  width: 90vw;
}

.free__container--textbox1 {
  margin-bottom: 1.5rem;
}

.free__container--title {
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

.free__container--description {
  width: 72vw;
  margin: 0 auto;
  line-height: 1.7rem;
  color: #4b5862;
}

footer {
  margin-top: 5rem;
  height: 800px;
  text-align: center;
}

.footer__heading {
  margin-bottom: 3rem;
}

.footer__container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container--title {
  margin-bottom: 2rem;
}

.footer__container--li {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */