@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Overpass Regular";
  src: url("../Fonts/Overpass/Overpass-Light.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass SemiBold";
  src: url("../Fonts/Overpass/Overpass-SemiBold.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../Fonts/Ubuntu/Ubuntu-Regular.ttf") format(woff2);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../Fonts/Ubuntu/Ubuntu-Medium.ttf") format(woff2);
}

@font-face {
  font-family: "Overpass Bold";
  src: url("../Fonts/Ubuntu/Ubuntu-Bold.ttf") format(woff2);
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to bottom, #ff8f70, #ff3d54);
  border-bottom-left-radius: 120px;
}

.test {
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 700px;
}

.nav__container {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  margin-bottom: 7rem;
  color: white;
}

.nav__container--heading {
  margin-left: 1rem;
  font-family: "Overpass SemiBold";
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: white;
}

.landing__container--title {
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
}

.landing__container--description {
  margin-bottom: 5rem;
  font-family: "Overpass", sans-serif;
}

.landing__button {
  text-align: center;
}

.landing__button--start {
  font-family: "Overpass SemiBold";
  width: 100px;
  height: 40px;
  border-radius: 33px;
  background-color: white;
  border: none;
  color: #ff525d;
}

.landing__button--learn {
  font-family: "Overpass SemiBold";
  width: 100px;
  height: 40px;
  border-radius: 33px;
  border: 1px solid white;
  background-color: transparent;
  text-decoration: none;
  color: white;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.hamburger {
  position: relative;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 375px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.middle {
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 30px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .hamburger .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 25px;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .hamburger .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 25px;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .hamburger .middle {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .nav__links {
    position: absolute;
    width: 80vw;
    height: 70vh;
    top: 50px;
    left: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-left: 2.5rem;
    background-color: white;
    color: black;
  }
}

.nav__links li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 375px) {
  .nav__links li {
    margin-top: 1rem;
  }
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.menu-arrow {
  float: right;
  position: relative;
  right: 100px;
  top: 5px;
}

@media (max-width: 375px) {
  .login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.log-in {
  text-decoration: none;
}

@media (max-width: 375px) {
  .log-in {
    color: black;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

main {
  height: 1086px;
}

.future__heading {
  margin-top: 3rem;
  text-align: center;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

.future__container {
  padding-bottom: 2.5rem;
}

.future__container--img {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.future__container--textbox {
  text-align: center;
}

.future__container--textbox1 {
  margin-bottom: 2rem;
}

.future__container--textbox2 {
  margin-bottom: 2rem;
}

.future__container--title {
  margin-bottom: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
  width: 70vw;
  margin: 0 auto;
}

.future__container--description {
  line-height: 1.5rem;
  width: 75vw;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Overpass", sans-serif;
  color: #4b5862;
}

.blogr__phonebox {
  text-align: center;
  margin-top: -12rem;
}

.blogr__phonebox--img {
  width: 328px;
  height: 347px;
  position: relative;
  top: 185px;
}

.test2 {
  background-image: url("../images/bg-pattern-circles.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 600px;
}

.state__container {
  height: 625px;
  margin-bottom: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: linear-gradient(to bottom, #2c2d3f, #3f4164);
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}

.state__container--textbox {
  text-align: center;
  width: 90vw;
  color: white;
  margin: 0 auto;
}

.state__container--title {
  width: 85vw;
  margin-bottom: 1rem;
  padding-top: 10rem;
  font-family: "Overpass SemiBold";
}

.state__container--description {
  width: 71vw;
  margin: 0 auto;
  line-height: 1.7rem;
  font-family: "Overpass", sans-serif;
}

.free__container {
  text-align: center;
}

.free__container--img {
  width: 375px;
}

.free__container--textbox {
  margin: 0 auto;
  width: 90vw;
}

.free__container--textbox1 {
  margin-bottom: 1.5rem;
}

.free__container--title {
  margin-bottom: 1rem;
  font-family: "Overpass SemiBold";
  color: #1f3f5b;
}

.free__container--description {
  width: 72vw;
  margin: 0 auto;
  line-height: 1.7rem;
  color: #4b5862;
  font-family: "Overpass", sans-serif;
}

footer {
  margin-top: 5rem;
  padding-top: 5rem;
  height: 800px;
  text-align: center;
  background-color: #25252d;
  color: white;
  border-top-right-radius: 80px;
}

.footer__heading {
  margin-bottom: 3rem;
  font-family: "Overpass SemiBold";
}

.footer__container {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Overpass", sans-serif;
}

.footer__container--title {
  margin-bottom: 2rem;
}

.footer__container--li {
  margin-bottom: 0.5rem;
  color: #c8c8cb;
}
/*# sourceMappingURL=styles.css.map */