* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@import "partial";

// Header Section

header {
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__container {
  margin-top: 2rem;
  margin-bottom: 7rem;
  &--heading {
    margin-left: 1rem;
  }
}

.landing__container {
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  color: $white-text;

  &--title {
    margin-bottom: 1rem;
    font-family: $overpass-semibold-font;
  }
  &--description {
    margin-bottom: 5rem;
    font-family: $overpass-reg-font;
  }
}

.landing__button {
  text-align: center;
  &--start {
    font-family: $overpass-semibold-font;
  }
  &--learn {
    font-family: $overpass-semibold-font;
  }
}

//  Designed for the future
main {
  height: 1086px;
}
.future__heading {
  text-align: center;
  font-family: $overpass-semibold-font;
  color: $darkblue-headingtext;
}

.future__container {
  padding-bottom: 2.5rem;
  &--img {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &--textbox {
    text-align: center;
  }
  &--textbox1 {
    margin-bottom: 2rem;
  }
  &--textbox2 {
    margin-bottom: 2rem;
  }
  &--title {
    margin-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    font-family: $overpass-semibold-font;
    color: $darkblue-headingtext;
    width: 85vw;
    margin: 0 auto;
  }
  &--description {
    line-height: 1.5rem;
    width: 75vw;
    margin: 0 auto;
    padding-top: 20px;
    font-family: $ubuntu-reg-font;
    color: $darkgray-blue-bodytext;
  }
}

//  Blogr Phones
.blogr__phonebox {
  text-align: center;
  &--img {
    width: 328px;
    height: 347px;
  }
}
// State of the Art

.free__container {
  &--img {
    width: 20%;
    height: 20%;
  }
}
